// Container
$container-size: 1300px;

$container-gap: 40px;
$container-gap-md: 34px;
$container-gap-lg: 16px;
$container-gap-sm: 10px;

// Breakpoints
$breakpoint-desktop: 1600px;
$breakpoint-desktop-lg: 1480px;
$breakpoint-desktop-md: 1280px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
$breakpoint-mobile-md: 576px;
$breakpoint-mobile-sm: 375px;

$transition-default: all 0.3s ease;

// fonts
$font-family: "Montserrat", Arial, sans-serif;
$font-family-text: "Montserrat", Arial, sans-serif;
$font-size-main: 16px;
$font-weight-main: 500;
$line-height-main: 122%;

// Цвета
$color-white: #fff;

$color-dark: #000;
$color-dark-light: #2F2F2F;
$color-dark-deep: #232323;

$color-danger: #FF005C;
$color-danger-deep: #DD0050;

$color-primary: #7357C2;
$color-primary-light: #480BAB;

$color-secondary: #A6A6A6;
$color-secondary-light: #E3E3E3;
$color-secondary-light2: #A5A5A5;
$color-secondary-light3: #F0F0F0;
$color-secondary-light4: #737373;
$color-secondary-light5: #F2EEF2;
$color-secondary-light6: #A3A3A3;
$color-secondary-light7: #B3B3B3;
$color-secondary-light8: #F5F7FA;

$color-secondary-deep: #646464;
$color-secondary-deep2: #464646;

$color-warning: #FF9900;
$color-muted: #F5F5F5;
$color-kit-text: #475569;
$color-kit-bg: #F8FAFC;

// Размеры контейнера
$content-width: 1120px;
$container-offset: 15px;
$container-width: calc(var(--content-width) + (var(--container-offset) * 2));