$b: '.benefits';

#{$b} {
  .swiper-slide {
    height: auto;
  }

  .service-card {
    &__inner {
      @include low-desktop {
        font-size: 14px;
        padding: 10px;
      }
      
      @include tablet {
        font-size: 12px;
      }

      @include mobile {
        font-size: 14px;
      }
    }
  }
}