$b: '.showcase';

#{$b} {
  // .showcase__header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .showcase__slider {
    display: flex;
    // overflow-y: hidden;
    // overflow-x: auto;
  }

  // .showcase__item
  &__item {
    width: 25%;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  
  .swiper {
    // overflow: unset;

    // .swiper-slide
    &-slide {
      height: auto;
    }
  }
}