$b: '.custom-button';

#{$b} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: $transition-default;
  white-space: nowrap;

  // .custom-button--xxl
  &--xxl {
    padding: 14px 28px;
  }

  // .custom-button--xl
  &--xl {
    padding: 12px 18px;

    .icon {
      width: 18px;
      height: 18px;
    }
  }

  // .custom-button--2xl
  &--2xl {
    padding: 14px 16px;
  }

  // .custom-button--md
  &--md {
    padding: 13px;
    
    .icon {
      width: 18px;
      height: 18px;
    }
  }

  // .custom-button--2md
  &--2md {
    padding: 10px;

    .icon {
      width: 18px;
      height: 18px;
    }
  }

  // .custom-button--3md
  &--3md {
    padding: 10px 18px;

    .icon {
      width: 18px;
      height: 18px;
    }
  }

  // .custom-button--ll
  &--ll {
  }

  // .custom-button--lg
  &--lg {
  }

  // .custom-button--danger
  &--danger {
    border-radius: 12px;
    color: $color-white;
    background-color: $color-danger;

    &:hover {
      background-color: $color-danger-deep;
    }

    // .custom-button--danger-disabled
    &-disabled {
      background-color: $color-secondary-light;
      color: $color-secondary;
      user-select: none;
      touch-action: none;
      pointer-events: none;
    }
  } 

  // .custom-button--with-icon-left
  &--with-icon-left {
    .icon {
      margin-right: 8px;
    }
  }

  // .custom-button--with-icon-right
  &--with-icon-right {
    .icon {
      margin-left: 8px;
    }
  }

  // .custom-button--danger-outline 
  &--danger-outline {
    border-radius: 12px;
    @include borderInset(1px, $color-danger);
    color: $color-danger;

    &:hover {
      background-color: $color-danger;
      color: $color-white;
    }

    // .custom-button--danger-outline-disabled
    &-disabled {
      background-color: $color-white;
      box-shadow: 0 0 0 1px $color-secondary;
      color: $color-secondary;
      user-select: none;
      touch-action: none;
      pointer-events: none;
    }
  }

  // .custom-button--light
  &--light {
    border-radius: 12px;
    background-color: rgba(245, 245, 245, 0.5);

    @include borderInset(1px, $color-white);
    color: $color-white;
    
    &:hover {
      background-color: $color-white;
      color: $color-primary-light;
    }
  }
  
  // .custom-button--white-outline
  &--white-outline {
    border-radius: 12px;
    @include borderInset(1px, $color-white);
  }
}